@media only screen and (max-width: 600px) {
.comments-container {
 display: flexbox;
    flex-wrap: wrap;
    background-color: #222831;
    margin: 20px;
    padding: 20px;
    border-style: initial;
    border: 1px solid;
      border-color: #00adb5; 
    color: white;
}
}

.comments-container {
 display: flexbox;
    flex-wrap: wrap;
    background-color: #222831;
    margin: 20px;
    padding: 20px;
    border-style: initial;
    border: 1px solid;
      border-color: #00adb5; 
    color: white;
}