.nav-links{
background-color: teal;
    /* position: absolute;
		top: 5%;
		right: 5%;
		transform: translate(-5%, -5%);
         */
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-brand{
    color: white;
}

/* .link-location{
   text-align: right;
} */

.pages{
padding: 1rem;
color: white;
}