.nav-links{
background-color: teal;
    
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-brand{
    color: white;
}

/* .link-location{
   text-align: right;
} */

.pages{
padding: 1rem;
color: white;
}

@media only screen and (max-width: 600px) {
   .pages{
padding: 1rem;
color: white;
font-size: 2.5vw;
} 

.nav-brand{
    color: white;
    font-size: 10px;
    
}

}