  .App {
    text-align: center;
    background-color: #222831;
    display: grid;
    grid-template-areas: 'h h h'
                         'n m m'
                         'cn' ;
    grid-template-columns: 25% auto;
  }

  .header{
    grid-area: h;
  }
  .reviews-list{
    grid-area: m;
  }

  .categories-nav{
    grid-area: cn;
  }

  .nav-bar{
    grid-area: n;
  }

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    background-color: #222831;
  }
}
